/* styles.css */
body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: salmon;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: salmon;
}

main {
    margin-top: 30px; /* Height of the header */
    margin-bottom: 30px; /* Height of the footer */
    height: calc(100vh - 60px); /* Calculate the remaining height for main content */
}

.main-container {
    height: 100%;
    background-color: bisque;

    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column-reverse;
    overflow: auto;
}

p {
    background-color: coral;
    margin: 8px 16px;
    padding: 3px;
}
